spring:
  application:
    name: portfolio
  datasource:
    url: ${PORTFOLIO_DB_URL:jdbc:mysql://localhost:3306/portfolio?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC}
    username: ${PORTFOLIO_DB_USER:root}
    password: ${PORTFOLIO_DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  jackson:
    serialization:
      write-dates-as-timestamps: false
cors:
  allowed-origins: ${PORTFOLIO_ALLOWED_ORIGINS:http://localhost:3000}
